.mob__sidebar {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  text-align: center;
}
.mob__sidebar_heading {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 2%;
  margin: 2vw 2vh;
}
.mob__sidebar_createButton {
  width: 80%;
  height: 45px;
  color: white;
  background-color: black;
  border-radius: 50px;
  outline: 0;
  border: 0;
  margin: 2rem auto;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  font-size: 2rem;
  margin-right: 7px;
}

.mob__groupSection {
  margin: 1rem 4rem;
  height: 70px;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

/* .mob__groupSelected {
  background-color: #f7ecdc;
} */

.mob__groupIcon {
  height: 3rem;
  width: 3rem;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 500;
  border-radius: 2rem 2rem;
  padding: 0.75rem;
  margin-right: 0.5rem;
  color: white;
}
